@using BlazorForms.Rendering.State
@using BlazorForms.FlowRules
@using BlazorForms.Forms
@using BlazorForms.Flows.Definitions
@using BlazorForms.Shared

@inject NotificationService _notificationService
@inject NavigationManager _navigationManager

<style>
    .pz-grid-align {
        align-items: center;
    }

    .pz-clean-margin {
        margin: 0px;
    }

    .pz-group-grid {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>

@if (!string.IsNullOrEmpty(Group.Key))
{
    <RadzenHeading Size="H6" class="pz-clean-margin">@Group.Key</RadzenHeading>
}
<div id="pz-group-container-@Group.Key">
    @foreach (var field in Group)
    {
        @if (field.ControlType == null
             || field.DisplayProperties?.Visible == false
             || field.Binding.BindingType == FieldBindingType.TableColumn
             || field.Binding.BindingType == FieldBindingType.TableColumnSingleSelect
             || field.Binding.BindingType == FieldBindingType.TableColumnContextMenu)
        {
            continue;
        }

        <div class="row pz-field-form-group-content">
            @switch (field.ControlType)
            {
                case "TableOld":
                    <div class="col col-12">
                        <RadzenHeading Size="H6" Text="@field.DisplayProperties.Caption"/>
                    </div>

                    <div class="col col-12">
                        <GridControl Table="field" Columns="@Controller.Tables[field.Binding.TableBinding]" Caption="@field.DisplayProperties.Caption"
                                     Validations="@GetValidations(field.Binding.ResolvedBinding)"/>
                    </div>
                    break;
                case "Table":
                    <div class="col col-12">
                        <RadzenHeading Size="H6" Text="@field.DisplayProperties.Caption"/>
                    </div>
                    <div class="col col-12">
                        @*<TableControl Controller="@Controller" Table="field" Columns="@Controller.Tables[field.Binding.TableBinding]" Caption="@field.DisplayProperties.Caption"
                    Validations="@GetValidations(field.Binding.ResolvedBinding)" />*@
                        <GridControl Table="field" Columns="@Controller.Tables[field.Binding.TableBinding]" Caption="@field.DisplayProperties.Caption"
                                     ModelChanged="@ModelChanged" Validations="@GetValidations(field.Binding.ResolvedBinding)"/>
                    </div>
                    break;
                case "Repeater":
                    <div class="col col-12">
                        <RadzenHeading Size="H6" Text="@field.DisplayProperties.Caption"/>
                    </div>
                    <div class="col col-12">
                        <RepeaterControl Table="field" Columns="@Controller.Repeaters[field.Binding.TableBinding]" Caption="@field.DisplayProperties.Caption"
                                         Validations="@GetValidations(field.Binding.ResolvedBinding)" ModelValueChanged="@ModelChanged"/>
                    </div>
                    break;
                case "SelectableList":
                    <div class="col col-12">
                        <RadzenHeading Size="H6" Text="@field.DisplayProperties.Caption"/>
                    </div>
                    <div class="col col-12">
                        <SelectableListControl Table="field" Data="@Controller.GetSelectableListData(field)" Caption="@field.DisplayProperties.Caption"
                                               ModelValueChanged="@ModelChanged" Validations="@GetValidations(field.Binding.ResolvedBinding)"/>
                    </div>
                    break;
                case "TextArea":
                case "Header":
                case "Subtitle":
                    <div class="col col-12">
                        <SimpleControl ModelChanged="@ModelChanged" ModelBinding="" Field="@field"/>
                    </div>
                    break;
                case "Label":
                    @if (field.DisplayProperties.NoCaption == true)
                    {
                        <div class="col col-12">
                            <SimpleControl ModelChanged="@ModelChanged" ModelBinding="" Field="@field"/>
                        </div>
                    }
                    else
                    {
                        <div class="col col-6">
                            <RadzenHeading Size="H6" Text="@field.DisplayProperties.Caption"/>
                        </div>
                        <div class="col col-6">
                            <SimpleControl ModelChanged="@ModelChanged" ModelBinding="" Field="@field"/>
                        </div>
                    }
                    break;
                default:
                    @if (field.Binding.BindingType == BlazorForms.Shared.FieldBindingType.ActionButton)
                    {
                        <div class="col col-12">
                            <SimpleControl ModelChanged="@ModelChanged" ModelBinding="" Field="@field"/>
                        </div>
                    }
                    else
                    {
                        @if (field.DisplayProperties?.Required == true)
                        {
                            <div class="col col-6"><RadzenHeading Size="H6" Text="@field.DisplayProperties.Caption"/> *</div>
                        }
                        else
                        {
                            <div class="col col-6">
                                <RadzenHeading Size="H6" Text="@field.DisplayProperties?.Caption"/>
                            </div>
                        }

                        <div class="col col-6">
                            <SimpleControl ModelChanged="@ModelChanged" ModelBinding="" Field="@field"/>
                        </div>
                    }
                    break;
            }
        </div>
    }
</div>

@code {

    [CascadingParameter]
    public IFormViewModel Controller { get; set; }

    [Parameter]
    public IGrouping<string, FieldControlDetails> Group { get; set; }

    [Parameter]
    public EventCallback<ValueChangedArgs> ModelValueChanged { get; set; }

    async Task ModelChanged(ValueChangedArgs args)
    {
        if (args.Operation != ModelChangedOperation.Default)
        {
            StateHasChanged();

            if (args.Operation == ModelChangedOperation.SubmitAndRefresh)
            {
                await ModelValueChanged.InvokeAsync(args);
            }
            return;
        }

        if (args.Binding.BindingType != BlazorForms.Shared.FieldBindingType.ActionButton)
        {
            Controller.ModelNaviSetValue(args.Binding.ResolvedBinding, args.NewValue);
        }
        try
        {
            await Controller.TriggerRules(Controller.FormData.ProcessTaskTypeFullName, args.Binding);
            StateHasChanged();
        }
        catch (Exception exc)
        {
            Controller.PopulateException(exc);
            ShowPopup();
        }
    }

    IEnumerable<RuleExecutionResult> GetValidations(string modelBinding)
    {
        return Controller.Validations.Where(v => v.AffectedField == modelBinding);
    }

    public async Task ShowPopup()
    {
        if (Controller.ExceptionType != null && Controller.ExceptionType != typeof(FlowStopException).Name)
        {
            _notificationService.Notify(NotificationSeverity.Warning, "Operation failed", "Please notify BlazorForms Support");

            Controller.SaveException();
        }
    }

}