@using BlazorForms.Rendering.Model
@using BlazorForms.Rendering.State;
@using MudBlazor.Utilities
@using BlazorForms.Flows.Definitions

@namespace BlazorForms.Rendering.MudBlazorUI.Components

@typeparam TFlow where TFlow : class, IStateFlow
@typeparam TItem where TItem : class, IFlowBoardCard

@inject IFlowBoardViewModel _vm
@inject BoardDialogViewModel DialogVM
@inject IDialogService DialogService

<style>
	.pz-fixed-column {
		max-width: 14em;
	}

	.mud-card-header {
		padding: 7px !important;
	}
</style>

<div class="d-flex flex-column mud-width-full mud-height-full">

	<MudDropContainer T="CardInfo<IFlowBoardCard>" Items=@_vm.Cards @ref="_container" ItemsSelector="@((item,dropzone) => item.Item.State == dropzone)"
					  ItemDropped="async (a) => await ItemUpdated(a)" CanDrop=@CanDrop Class="d-flex flex-wrap flex-grow-1">
		
		<ChildContent>
			@foreach (var column in _vm.Columns)
			{
				<MudPaper Class="ma-4 flex-grow-1 pz-fixed-column">
					<MudList Clickable="true" Class="d-flex flex-column mud-height-full">
						<MudListSubheader>@column.Name</MudListSubheader>
						<MudDropZone T="CardInfo<IFlowBoardCard>" Identifier="@column.Id" Class="flex-grow-1" AllowReorder="true" />
					</MudList>
				</MudPaper>
			}
		</ChildContent>

		<ItemRenderer>
			<MudListItem OnClick=@(async () => await Click(context))>
				<MudCard >
					<MudCardHeader>
						<CardHeaderAvatar>
							<MudAvatar Color="Color.Primary" Size="Size.Small">@context.TitleInitials</MudAvatar>
						</CardHeaderAvatar>
						<CardHeaderContent>
							<MudText Typo="Typo.subtitle1">@($"{context.Title}")</MudText>
						</CardHeaderContent>
						<CardHeaderActions>

                                @*<MudIconButton Size="Size.Small" Icon="@Icons.Material.TwoTone.MoreHoriz" Color="Color.Default" />*@
								<MudMenu Dense="true">
									<ActivatorContent>
										<MudIconButton Icon="@Icons.Material.TwoTone.MoreHoriz" Size="Size.Small" 
											OnClick="@(async() => await @ContextMenuClick())" />
									</ActivatorContent>
									<ChildContent>
										@foreach (var action in _vm.GetContextMenuActions(context))
										{
											@if (action.State == FlowBoardContextMenuAction.EDIT_ACTION)
											{
												<MudDivider />
											}

											<MudMenuItem OnClick="@(async () => await OnMenuItemClick(context, action))"
													Icon=@GetIcon(action)
													 Disabled=@action.Disabled>@action.Name</MudMenuItem>
										}
									</ChildContent>
								</MudMenu>

						</CardHeaderActions>
					</MudCardHeader>
					<MudCardContent>
							<MudText Typo="Typo.body2">@context.Description</MudText>
					</MudCardContent>
				</MudCard>
			</MudListItem>
		</ItemRenderer>
	</MudDropContainer>
</div>

@code {
	[Parameter]
	public List<TItem> Items { get; set; }

	[Parameter]
	public EventCallback<List<BoardCardChangedArgs<TItem>>> ItemsChanged { get; set; }

	private MudDropContainer<CardInfo<IFlowBoardCard>>? _container;

	protected override async Task OnInitializedAsync()
	{
		await _vm.LoadAsync(typeof(TFlow));
	}

	protected override async Task OnParametersSetAsync()
	{
		await _vm.RefreshCardsAsync(Items.Cast<IFlowBoardCard>().ToList());
		StateHasChanged();
	}

	private async Task ContextMenuClick(){}

	private async Task OnMenuItemClick(CardInfo<IFlowBoardCard> card, FlowBoardContextMenuAction action)
	{
		if (action.State == FlowBoardContextMenuAction.EDIT_ACTION)
		{
			await ShowDialog(card);
			return;
		}

		await _vm.PerformTransition(card, action.State, ShowConfirmDialog);
		_container.Refresh();
	}

	private string GetIcon(FlowBoardContextMenuAction action)
	{
		if (action.State == FlowBoardContextMenuAction.EDIT_ACTION)
		{
			return Icons.Material.Filled.Preview;
		}
		else if (action.FormType != null)
		{
			return Icons.Material.Filled.Wysiwyg;
		}

		return null;
	}

	private async Task ShowDialog(CardInfo<IFlowBoardCard> card)
	{
		var formType = _vm.GetStateForm(card.Item.State);

		if (formType != null)
		{
			await DialogVM.LoadDialog(formType, card);

			var options = new DialogOptions { CloseOnEscapeKey = true };
			var dialogParameters = new DialogParameters();
			dialogParameters["DialogViewModel"] = DialogVM;
			dialogParameters["FormSubmitted"] = new EventCallback<BoardDialogSubmittedArgs>(this, DialogFormSubmitted);
			dialogParameters["AllowAnonymousAccess"] = true;
			dialogParameters["AllowFlowStorage"] = false;
			dialogParameters["Options"] = new EditFormOptions { MudBlazorProvidersDefined = true };
			DialogService.Show<BoardDialogForm>(null, dialogParameters, options);
		}
	}

	private async Task DialogFormSubmitted(BoardDialogSubmittedArgs args)
	{
		await ItemsChanged.InvokeAsync((new BoardCardChangedArgs<TItem>[] 
			{ 
				new BoardCardChangedArgs<TItem>(args.Card as TItem, ItemChangedType.Changed) 
			}).ToList());

		StateHasChanged();
	}

	private async Task Click(CardInfo<IFlowBoardCard> card)
	{
		await ShowDialog(card);
	}

	private bool CanDrop(CardInfo<IFlowBoardCard> dropItem, string dropzone)
	{
		//if (dropItem.Name == $"Item {dropzone}")
		//{
		//	return false;
		//}

		return _vm.IsTransitionPossible(dropItem, dropzone);
	}

	private async Task ItemUpdated(MudItemDropInfo<CardInfo<IFlowBoardCard>> dropItem)
	{
		// Example how to ignore/cancel transition
		//if (dropItem.Item.Item.Title == "IBM" && dropItem.Item.Item.State != dropItem.DropzoneIdentifier)
		//{
		//	// _container.Refresh() breaks orders in the drop zones
		//	_container.Refresh();
		//	return;
		//}

		if (dropItem.Item.Item.State != dropItem.DropzoneIdentifier)
		{
			//dropItem.Item.State = dropItem.DropzoneIdentifier;
			await _vm.PerformTransition(dropItem.Item, dropItem.DropzoneIdentifier, ShowConfirmDialog);
		}

		if (dropItem.IndexInZone != dropItem.Item.Item.Order)
		{
			//_vm.Cards.UpdateOrder(dropItem, item => item.Order);
			await _vm.ReorderCards(dropItem.DropzoneIdentifier, dropItem.Item, dropItem.IndexInZone);
		}

		StateHasChanged();

		//var indexOffset = dropItem.DropzoneIdentifier switch
		//{
		//	"2" => _serverData.Count(x => x.State == "1"),
		//	_ => 0,
		//};

		//_serverData.UpdateOrder(dropItem, item => item.Order, indexOffset);
	}

	private async Task<bool> ShowConfirmDialog(string formType, CardInfo<IFlowBoardCard> card)
	{
		await DialogVM.LoadDialog(formType, card);

		var options = new DialogOptions { CloseOnEscapeKey = true };
		var dialogParameters = new DialogParameters();
		dialogParameters["DialogViewModel"] = DialogVM;
		//dialogParameters["FormSubmitted"] = new EventCallback<BoardDialogSubmittedArgs>(this, DialogFormSubmitted);
		dialogParameters["AllowAnonymousAccess"] = true;
		dialogParameters["AllowFlowStorage"] = false;
		dialogParameters["Options"] = new EditFormOptions { MudBlazorProvidersDefined = true };

		var dialog = await DialogService.ShowAsync<BoardDialogForm>(null, dialogParameters, options);
		var result = await dialog.Result;

		return !result.Cancelled;
	}
}
